header {
    background-color: #26292e;
}

header h1 {
    color: white;
    font-family: 'Butterfly Kids', cursive;
}

.social-media ul {
    list-style: none;
    text-align: right;
    padding-top: 30px;
}

.social-media li {
    display: inline;
}

.social-media a {

}

.social-meaia span {
    background-color: white;
}

.hero {
    background-color: #e7708b;
    color: white;
}

.icons {
    background-color: white;
    color: black;
    height: 24px;
    width: 24px; 
    border-radius: 50%;
    text-align: center;
    line-height: 2;
}

button {
    display: inline;
    border-radius: 7px;
    background-color: black;
    padding: 10px;
    margin-left: 20px;
}
.info {
    background-color: #f4f4f6;
    border-bottom: 10px solid #f9e2e8;
}

.products {
    background-color: #ffffff;
}

.eyeglass-outer1 {
    background-color: #26292e;
    border: 10px solid rgb(182, 180, 180);
    box-shadow: 1px 5px 5px 2px grey;
    height: 150px;
    width: 250px;
    margin-bottom: 60px;
}

.eyeglass-outer2 {
    background-color: #26292e;
    border: 10px solid rgb(182, 180, 180);
    box-shadow: 1px 5px 5px 2px grey;
    height: 150px;
    width: 250px;
    margin-bottom: 60px;
}
.eyeglass-outer3 {
    background-color: #26292e;
    border: 10px solid rgb(182, 180, 180);
    box-shadow: 1px 5px 5px 2px grey;
    height: 150px;
    width: 250px;
    margin-bottom: 60px;
}
.eyeglass-outer4 {
    background-color: #26292e;
    border: 10px solid rgb(182, 180, 180);
    box-shadow: 1px 5px 5px 2px grey;
    height: 150px;
    width: 250px;
    margin-bottom: 60px;
}

.absolute {
    position: absolute;
}

.glass {
    position: relative;
    color: white;
    font-size: 60px;
    left: 75px;
    top: 30px;
}

.products span {
    font-weight: bold;
}

.p {
    padding-bottom: 20px;
    padding-top: 20px;
}

footer {
    background-color: #26292e;
    color: white;
}

footer .copyright {
    padding-top: 30px;
}

.copyright p {
    font-size: 11px;
}

@media (min-width: 768px) {
    h2 {
        
    }			
}
​
@media (min-width: 800px) and (max-width: 900px) {
    h2 {
        
    }
}
​

@media (min-width: 992px) {
    h2 {
        
    }			
}
​
@media (min-width: 1200px) {
    h2 {
        
    }			
}